:host {
    display: block;
    /* border-radius: 15px; */
    border: solid 1px #ddd;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 2px #888888;
    -webkit-box-shadow: 2px 2px 2px #888888;
    box-shadow: 2px 2px 2px #888888;
    margin: 20px 0;
    padding: 20px;
    transition: border-color 0.5s ease-out;
}
:host(.marked) {
    padding: 20px;
}
:host(.inactive) {
    color: #ccc;
}
.form-control {
    display: inline-block;
    width: 50%;
}